@tailwind base;
@tailwind components;
@tailwind utilities;

/*For debugging */
/* * {
  @apply border border-red-400 hover:bg-red-900;
} */

/* GLOBAL */

html {
  --text-color: rgba(255, 255, 255, 0.87)
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: #131212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#tsparticles {
  @apply fixed bg-no-repeat bg-cover w-full h-full -z-10;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/*Sidebar */
.sidebar-link {
  @apply p-3 hover:bg-stone-500;
}

.sidebar {
  @apply flex min-w-[150px] flex-col gap-y-2 bg-gray-600;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateX(0);
  transition: transform 0.6s ease;
  z-index: 100;
}

.sidebar.closed {
  transform: translateX(-100%);
}

.hamburger-container {
  position: absolute;
  top: 30px;
  left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  scale: 1.5;
  z-index: 20;
}

@media (max-width: 450px) {
  .hamburger-container {
    top: 25px;
    left:10px;
    scale: 1;
  }
}

.hamburger-bar {
  width: 100%;
  height: 4px;
  background-color: var(--text-color)
}

/*Table classes*/
.solar-system-table-header {
  @apply border border-gray-500 p-3 pr-5 hover:bg-slate-800;
}

.solar-system-table-column {
  @apply border border-gray-500 p-3 pr-5 font-semibold hover:bg-slate-800;
}

.solar-system-table-data {
  @apply border border-gray-500 p-3 pr-5 hover:bg-slate-800;
}

table tr {
  display: table-cell;
}
table tr td {
  display: block;
}

/*Form classes*/
.fieldset-class {
  @apply flex flex-col;
}

.input-class {
  @apply rounded-lg px-2 py-1 z-10;
}

/* Styles for react datepicker

Must give a z-index higher than the other components for the dropper
*/
.react-datepicker-wrapper, .react-datepicker-popper {
  @apply z-20
}